body {
    background-image: url(b4e371619042d1e80918d09904e90f7d.gif);
    color: white;
    text-align: center;
    font-weight: bolder;

}

.card {
    width: 2000px;
    height:900px;
    background-color: black;
    opacity: 1;
    
}

h1 {
    font-family: impact;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 40px;
}

ul {
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
    
}

a {
    background-color: rgb(47, 136, 25);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

p {
    font-size: 20px;
}

.titulo {
    color: rgb(66, 201, 32);
    text-shadow: 1px 1px 2px green, 0 0 1em green, 0 0 0.2em greenyellow;
    
}

.Foto {
    border-radius: 50%;
  }
