body {
    color: white;
    background-color: black;
    text-align: center;
    font-weight: bolder;
    z-index: 1;

}

.fundo {
    position: absolute;
    width: 1200px;
    left: 0px;
    top: 0px;
}

.fundo1 {
    position: absolute;
    width: 1200px;
    left: 705px;
    top: 0px;
}

.matrix {
    position: absolute;
    top: 0px;
    left: 500px;
}

.matrix1 {
    position: absolute;
    top: 716px;
    left: 500px;
}

.card {
    width: 900px;
    height:950px;
    background-color: black;
    opacity: 1;
    position: absolute;
    left: 500px;
    top: 25px;
    z-index: 2;
    border: 5px solid green;
}

h1 {
    font-family: impact;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 40px;
}

ul {
    font-size: 30px;
    font-style: italic;

}

a {
    background-color: rgb(47, 136, 25);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

p {
    font-size: 20px;
}

.titulo {
    color: rgb(66, 201, 32);
    text-shadow: 1px 1px 2px green, 0 0 1em green, 0 0 0.2em greenyellow;
    
}

.Foto {
    border-radius: 50%;
  }

  li:hover {
    background-color: rgb(47, 136, 25);
    color: black;
  }

  a:hover {
    background-color: white;
    color: rgb(47, 136, 25);
  }
